@keyframes header-hidden-block {
  100% {
    top: 415px;
    visibility: hidden;
  }
}

.hidden-block_section_header {
  width: 700px;
  height: 230px;
  top: 185px;
  animation: header-hidden-block 0.4s 1s ease-out forwards;
}
