@keyframes show-header-box-3 {
  100% {
    left: 0;
  }
}

.header__title_number_two {
  position: absolute;
  top: 390px;
  left: -766px;
  animation: show-header-box-3 3s 1.5s cubic-bezier(0.32, 0, 0, 0.99) forwards;
}
